<!-- Role select -->
<div class="row mt-3">
  <label for="role-select">Role</label>
  <select id="role-select" class="bg-light text-dark form-control">
    <option selected>All</option>
    <option>Employee</option>
    <option>Manager</option>
    <option>Admin</option>
  </select>
</div>
<!-- Region select -->
<div class="row mt-3">
  <label for="role-select">Location</label>
  <select id="region-select" class="bg-light text-dark form-control">
    <option selected>All</option>
    <option>Annapolis</option>
    <option>Austin</option>
    <option>Chesapeake</option>
    <option>Colorado Springs</option>
    <option>Dallas</option>
    <option>Phoenix</option>
    <option>Tampa</option>
    <option>San Antonio</option>
  </select>
</div>
<!-- Post type select -->
<div class="row mt-3">
  <label for="role-select">Post Type</label>
  <select id="post-type-select" class="bg-light text-dark form-control">
    <option selected>All</option>
    <option>Suggestions</option>
    <option>Grievances</option>
    <option>Praise</option>
    <option>Announcements</option>
  </select>
</div>