<!-- Sidebar Widgets Column -->
<div class="col-md-4">

  <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>

  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Filter Options</h5>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="btn-group">
            <a href="/feed" id="public-view-btn" class="btn btn-secondary active" tabindex="-1" role="button">Public</a>
            <a href="/anonymous" id="anonymous-view-btn" class="btn btn-secondary" tabindex="-1"
              role="button">Anonymous</a>
          </div>
        </div>
        <%- include ./feed_sidebar_filter_area.ejs %>
      </div>
    </div>
  </div>

</div>