<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- browser tab label and icon-->
<title>Feedback Forum</title>
<link rel="shortcut icon" href="./images/favicon.ico">

<!-- css frameworks -->
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- internal style element has to be here otherwise header gets messed up -->
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  body {
    padding-top: 5rem;
  }

  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .blank {
    height: 2rem;
  }

  .con-info tr td {
    font-size: 20px;
    padding: 2rem;
  }
</style>