<div class="blank"></div>
<input class="form-control mr-sm-2" id="post-title" name="postTitle" type="text" placeholder="Post Title" maxlength="40"
    aria-label="post-title" required>
<br id="br-1">
<textarea class="form-control post-field" id="post-field-1" name="field1" rows="3" placeholder="What is the issue?"
    maxlength="255" required></textarea>
<br id="br-2">
<textarea class="form-control post-field" id="post-field-2" name="field2" rows="3"
    placeholder="How do you suggest we fix it?" maxlength="255"></textarea>
<br id="br-3" style="display: none;">
<textarea class="form-control post-field" id="post-field-3" name="field3" rows="3" style="display: none;" placeholder=""
    maxlength="255"></textarea>
<br id="br-4" style="display: none;">
<textarea class="form-control post-field" id="post-field-4" name="field4" rows="3" style="display: none;" placeholder=""
    maxlength="255"></textarea>
<br>
<button class="btn btn-secondary" id="post-button" type="submit" style="width:8rem; float:right; overflow:auto;">
    Post
</button>