<!-- Post section -->
<h1 class="my-4">
  Create your own post
</h1>
<div class="card mb-4">
  <div class="card-body">
    <form id="post-form" name="postForm" action="/feed/new-post" method="POST">

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <input type="radio" class="radioBtn" value="1" name="optradio" id="suggestions-radio" checked>
            <label for="suggestions-radio">Suggestions</label>
          </div>
          <div class="col-sm">
            <input type="radio" class="radioBtn" value="2" name="optradio" id="grievances-radio">
            <label for="grievances-radio">Grievances</label>
          </div>
          <div class="col-sm">
            <input type="radio" class="radioBtn" value="3" name="optradio" id="praise-radio">
            <label for="praise-radio">Praise</label>
          </div>
          <div class="col-sm">
            <input type="radio" class="radioBtn" value="4" name="optradio" id="announcements-radio">
            <label for="announcements-radio">Announcements</label>
          </div>
        </div>
      </div>

      <%- include ./post_section_inputs.ejs %>
      
    </form>
  </div>
</div>