<!-- Post section -->
<h1 class="my-4">
  Create your own post
</h1>
<div class="card mb-4">
  <div class="card-body">
    <form id="post-form" name="postForm" action="/feed/new-post-anonymous" method="POST">

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <input type="radio" class="radioBtn" name="optradio" id="suggestions" >Suggestions
          </div>
          <div class="col-sm">
            <input type="radio" class="radioBtn" name="optradio" id="grievances" >Grievances
          </div>
          <div class="col-sm">
            <input type="radio" class="radioBtn" name="optradio" id="praise" >Praise
          </div>
        </div>
      </div>

      <div class="blank"></div>
      <input class="form-control mr-sm-2" id="post-title" name="postTitle" type="text" placeholder="Post Title"
        aria-label="post-title">
      <br>
      <textarea class="form-control" id="post-body" name="postBody" rows="5" placeholder="Post here"></textarea>
      <br>
      <button class="btn btn-secondary" id="post-button" type="submit" style="width:8rem; float:right; overflow:auto;">
        Post
      </button>
    </form>
  </div>
</div>