<!-- Post section -->
<h1 class="my-4">
        Create your own post
    </h1>
    <div class="card mb-4">
        <div class="card-body">
            <form id="post-form" name="postForm">
                <input class="form-control mr-sm-2" id="post-title" name="postTitle" type="text" placeholder="Post Title"
                    aria-label="post-title">
                <br>
                <textarea class="form-control" id="post-body" name="postBody" rows="5" placeholder="Post here"></textarea>
                <br>
                <button class="btn btn-dark" id="post-button" type="button"
                    style="width:8rem; float:right; overflow:auto;">
                    Post
                </button>
            </form>
        </div>
    </div>