<!-- Role select -->
<div class="row mt-3">
    <select id="role-select" class="bg-secondary text-light border-0">
      <option disabled selected>Role</option>
      <option>All</option>
      <option>Employee</option>
      <option>Manager</option>
      <option>Admin</option>
    </select>
</div>
<!-- Region select -->
<div class="row mt-3">
    <select id="region-select" class="bg-secondary text-light border-0">
      <option disabled selected>Region</option>
      <option>All</option>
      <option>Annapolis</option>
      <option>Austin</option>
      <option>Chesapeake</option>
      <option>Colorado Springs</option>
      <option>Dallas</option>
      <option>Phoenix</option>
      <option>Tampa</option>
      <option>San Antonio</option>
    </select>
</div>