<!doctype html>
<html lang="en">

<head>
  <%- include partials/head_elements.ejs %>
</head>

<body class="has-home">
  <!-- navigation section included in a separate file to avoid redundant coding -->
  <%- include partials/navigation.ejs %>

  <!-- nav content -->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">Home</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">Profile</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false">Contact</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- Homepage Content -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <div class="container">

        <div class="row">

          <!-- Blog Entries Column -->
          <div class="col-md-12">

            <h1 class="my-4">Feedback Forum
              <h5>Encourage feedback and ideas from employees</h5>
            </h1>

            <!-- Card columns -->
            <div class="card-columns">
              <div class="card">
                <img
                  src="https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                  class="card-img-top" alt="card-img">
                <div class="card-body">
                  <h5 class="card-title">Essential building blocks of employee engagement</h5>
                  <p class="card-text">
                    <ul>
                      <li>Information sharing: sales figures, weekly communication updates.</li>
                      <li>Managing performance: Key performance indicators,
                        annual performance review, clarity on required behaviours,
                        clarity on what is required,
                        give employees space to show initiative,
                        encourage ideas and acknowledge good ideas openly.</li>
                      <li>Leadership: consistency, be clear about acceptable and unacceptable behaviours. </li>
                      <li>Recognise that employees' experience is only as good as their manager.</li>
                    </ul>
                  </p>
                  <p class="card-text"><small class="text-muted">Posted on January 8, 2019 by Manager</small></p>
                </div>
              </div>
              <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                  <p>Employee feedback is an integral part of the employee experience process and a mechanism
                    that will increasingly help employees get better at their job and for the organization to
                    develop a better workplace culture.</p>
                  <!-- <footer class="blockquote-footer">
                        <small class="text-muted">
                          Ed Batista
                        </small>
                      </footer> -->
                </blockquote>
              </div>
              <div class="card">
                <img
                  src="https://images.pexels.com/photos/1509428/pexels-photo-1509428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tips For Giving Effective Feedback</h5>
                  <p class="card-text">
                    <ul>
                      <li>Give your feedback directly to the person it applies to.</li>
                      <li>Be specific and give examples.</li>
                      <li>Choose the right place. </li>
                      <li>Don't dwell on the past.</li>
                    </ul>
                  </p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago by Manager</small></p>
                </div>
              </div>
              <div class="card text-white text-center p-3" style="background-color: rgb(78, 73, 105);">
                <blockquote class="blockquote mb-0">
                  <p>"Make feedback normal. Not a performance review."</p>
                  <footer class="blockquote-footer">
                    <small class="text-muted">
                      Ed Batista
                    </small>
                  </footer>
                </blockquote>
              </div>

              <div class="card text-center">
                <div class="card-body">
                  <p class="card-text">"Success lies in absorbing negative feedback and making the best use of it."</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img
                  src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                  class="card-img-top" alt="...">
              </div>

              <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                  <p>"To serve millions of military members and become one of the only fully
                    integrated financial services organizations in America."</p>
                </blockquote>
              </div>

              <div class="card">
                <img
                  src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">What are the benefits of a Employees Forum?</h5>
                  <p class="card-text">
                    <ul>
                      <li>Company performance: communicating at the beginning of a new project can squash any water
                        cooler rumours or misunderstanding.</li>
                      <li>Trust: discussing issues head on can stimulate better management-employee relations and result
                        in respect for their leaders.</li>
                      <li>Job satisfaction: employees are more likely to be motivated if they have a good understanding
                        of their role and how it fits into the overall picture of the company goals.</li>
                      <li>Work-life balance: managers can easily reach all staff to have meaningful conversations to
                        discuss working policies and practices.</li>
                    </ul>
                  </p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago by Manager</small></p>
                </div>
              </div>
            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">&larr; Older</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);">Newer &rarr;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- profile content -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <div class="container">

        <div class="row">

          <div class="blank"></div>
          <!-- About the company  -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Overview</h2>
              <p class="card-text">USAA's companies are dedicated to helping you meet your financial goals. From USAA
                Federal Savings Bank to our property and casualty insurance companies, we strive to be your provider of
                choice.
                We have what you need to make it simple, including insurance, financial advice, banking, investing,
                member discounts and shopping — all delivered according to our core values of honesty, integrity,
                loyalty and service.
              </p>
            </div>

          </div>

          <!-- Networth of the company  -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Net Worth</h2>
              <p class="card-text">We continue to increase our net worth and assets while achieving expense ratios that
                are better than the industry. Because of our demonstrated financial strength, we're one of only a
                handful of organizations to which the global credit rating agencies continue to award the highest
                possible ratings. Several third-party agencies also recognize our member service, employee well-being
                and financial strength through their awards and rankings.
              </p>
              <img class="card-img-top" src="images/netWorth.PNG" alt="Card image cap">
            </div>

          </div>
          <!--  Key USAA Facts and Figures -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Performance</h2>
              <p class="card-text">Inspired by our mission and our commitment to provide excellent service for our
                members, we stand financially strong. It's this strength that enables us to pay claims promptly, serve
                our growing membership and invest in ways that will help us to better serve you in the future.
              </p>
              <img class="card-img-top" src="images/performance.PNG" alt="Card image cap">
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- contact content -->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="container">

        <div class="row">

          <div class="blank"></div>

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://www.invexdesign.com/images/banner-contact.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <div>
              <br><br>
              <img src="https://tbcdn.talentbrew.com/company/1207/FULL_v1_0/img/location-map.jpg" alt="map"
                style="height: 450px;">
            </div>

          </div>
          <div class="col-md-4 col-sm-4">
            <div style="float: right; clear: right;">
              <table class="con-info">
                <tr>
                  <td><span style="font-weight:bold">Phone</span><br><br>210-531-0000<br>or 800-531-0000<br></td>
                </tr>
                <tr>
                  <td><span style="font-weight:bold">Social</span><br><br><a href="https://twitter.com/">Twitter:
                      @Help</a><br></td>
                </tr>
                <tr>
                  <td><span style="font-weight:bold">Home Office Address</span><br><br>577 Fairground Dr<br>Chelsea, MA
                    02150<br></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End page content -->
  <%- include partials/script_elements.ejs %>
</body>

</html>